{import.meta.env.DEV &&
<div class="sticky top-0 bg-error text-right grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 2xl:grid-cols-6">
  <div class="py-2 text-left">breakpoint</div>
  <div class="py-2 sm:bg-yellow-100 sm:inline hidden">sm|</div>
  <div class="py-2 md:bg-yellow-200 md:inline hidden">md|</div>
  <div class="py-2 lg:bg-yellow-300 lg:inline hidden">lg|</div>
  <div class="py-2 xl:bg-yellow-400 xl:inline hidden">xl|</div>
  <div class="py-2 2xl:bg-yellow-500 2xl:inline hidden">2xl|</div>
</div>}
