---
// self
import ThemeSwitcher from "!components/theme-switcher.astro"
import Breakpoints from "!components/breakpoints.astro"
import { darkTheme } from "!root/consts.js"
---
<html lang="fr" class="overflow-y-scroll">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content="Add content for SEO purposes." />
		<title>{Astro.props.title}</title>
		<style>
			@view-transition {
				navigation: auto; /* enabled! */
			}
		</style>
	</head>
	<body>
		<Breakpoints />
		<ThemeSwitcher theme={darkTheme} />
		<div class="container my-4">
			<h1 class="text-4xl font-bold">{Astro.props.title}</h1>
      <slot />
    </div>
	</body>
</html>
